.registerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 200px;
    gap: 50px;
}
.registerHeading{
    font-size: 3rem;
    font-weight: bolder;
}
.registerForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    input{
        height: 50px;
        padding: 10px;
        font-size: 1.1rem;
    }
}
.registerButton{
    width: 200px;
    height: 50px;
    align-self: center;
    font-size: 1.2rem;
    background-color: #1A2F27;
    color: white;
    border: none;
    border-radius: 5px;
    align-self: center;
    font-size: 1.2rem;
    margin-top: 20px;
}
.registerButton:hover{
    transform: scale(1.05);
}
.loginRedirect{
    text-decoration: none;
    align-self: center;
    color: black;
}